.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Align-Center {
  justify-content: center;
  align-items: center;
}

.DarkText {
  color: #282c34;
}